<a href="https://colab.research.google.com/github/robsonbfreitas/DataManipulationExercises/blob/main/Manipulacao_de_Dados_Ex_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://i.imgur.com/JsMvGnP.png)


## Exercícios de manipulação de dados - Parte 2

Neste Jupyter notebook você irá resolver uma exercícios utilizando a biblioteca Pandas.\
Todos os datasets utilizados nos exercícios estão salvos na pasta *datasets*.\
Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

#### Tarefa 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/US_Crime_Rates_1960_2014.csv***.\
Este dataset contém dados de crimes ocorridos nos Estados Unidos no período de 1960 até 2014.\
Salve os dados em uma variável de nome *crime*.

In [3]:
import pandas as pd
crime = pd.read_csv('datasets/US_Crime_Rates_1960_2014.csv')

#### Tarefa 2. Qual o tipo de dados em cada coluna?

In [ ]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

#### Tarefa 3. Converta o tipo de dado da coluna Year para o tipo datetime

*Dica: procure na documentação da biblioteca como fazer tal conversão*

In [5]:
crime['Year'] = pd.to_datetime(crime['Year'])

#### Tarefa 4. Configure a coluna Year como index do DataFrame.

*Dica: use a função set_index() do Pandas*

In [6]:
crime.set_index('Year', inplace=True)

#### Tarefa 5. Remova a coluna Total do DataFrame.

In [7]:
crime.drop(columns=['Total'])

                               Population  ...  Vehicle_Theft
Year                                       ...
1970-01-01 00:00:00.000001960   179323175  ...         328200
1970-01-01 00:00:00.000001961   182992000  ...         336000
1970-01-01 00:00:00.000001962   185771000  ...         366800
1970-01-01 00:00:00.000001963   188483000  ...         408300
1970-01-01 00:00:00.000001964   191141000  ...         472800
1970-01-01 00:00:00.000001965   193526000  ...         496900
1970-01-01 00:00:00.000001966   195576000  ...         561200
1970-01-01 00:00:00.000001967   197457000  ...         659800
1970-01-01 00:00:00.000001968   199399000  ...         783600
1970-01-01 00:00:00.000001969   201385000  ...         878500
1970-01-01 00:00:00.000001970   203235298  ...         928400
1970-01-01 00:00:00.000001971   206212000  ...         948200
1970-01-01 00:00:00.000001972   208230000  ...         887200
1970-01-01 00:00:00.000001973   209851000  ...         928800
1970-01-01 00:00:00.000001974   211392000  ...         977100
1970-01-01 00:00:00.000001975   213124000  ...        1009600
1970-01-01 00:00:00.000001976   214659000  ...         966000
1970-01-01 00:00:00.000001977   216332000  ...         977700
1970-01-01 00:00:00.000001978   218059000  ...        1004100
1970-01-01 00:00:00.000001979   220099000  ...        1112800
1970-01-01 00:00:00.000001980   225349264  ...        1131700
1970-01-01 00:00:00.000001981   229146000  ...        1087800
1970-01-01 00:00:00.000001982   231534000  ...        1062400
1970-01-01 00:00:00.000001983   233981000  ...        1007900
1970-01-01 00:00:00.000001984   236158000  ...        1032200
1970-01-01 00:00:00.000001985   238740000  ...        1102900
1970-01-01 00:00:00.000001986   240132887  ...        1224137
1970-01-01 00:00:00.000001987   242282918  ...        1288674
1970-01-01 00:00:00.000001988   245807000  ...        1432900
1970-01-01 00:00:00.000001989   248239000  ...        1564800
1970-01-01 00:00:00.000001990   248709873  ...        1635900
1970-01-01 00:00:00.000001991   252177000  ...        1661700
1970-01-01 00:00:00.000001992   255082000  ...        1610800
1970-01-01 00:00:00.000001993   257908000  ...        1563100
1970-01-01 00:00:00.000001994   260341000  ...        1539300
1970-01-01 00:00:00.000001995   262755000  ...        1472400
1970-01-01 00:00:00.000001996   265228572  ...        1394200
1970-01-01 00:00:00.000001997   267637000  ...        1354189
1970-01-01 00:00:00.000001998   270296000  ...        1240754
1970-01-01 00:00:00.000001999   272690813  ...        1152075
1970-01-01 00:00:00.000002000   281421906  ...        1160002
1970-01-01 00:00:00.000002001   285317559  ...        1228391
1970-01-01 00:00:00.000002002   287973924  ...        1246646
1970-01-01 00:00:00.000002003   290690788  ...        1261226
1970-01-01 00:00:00.000002004   293656842  ...        1237851
1970-01-01 00:00:00.000002005   296507061  ...        1235859
1970-01-01 00:00:00.000002006   299398484  ...        1192809
1970-01-01 00:00:00.000002007   301621157  ...        1095769
1970-01-01 00:00:00.000002008   304374846  ...         958629
1970-01-01 00:00:00.000002009   307006550  ...         795652
1970-01-01 00:00:00.000002010   309330219  ...         739565
1970-01-01 00:00:00.000002011   311587816  ...         716508
1970-01-01 00:00:00.000002012   313873685  ...         723186
1970-01-01 00:00:00.000002013   316497531  ...         700294
1970-01-01 00:00:00.000002014   318857056  ...         689527

[55 rows x 10 columns]

#### Tarefa 6. Encontre o número de roubos de carro do ano de 1978.

In [ ]:
# Seu código

#### Tarefa 7. Retorne a linha do ano em que houve o maior número de assasinatos. 

*Dica: use a coluna Murder como referência.*

In [ ]:
# Seu código

#### Tarefa 8. Retorne o número de assassinatos do ano em que foi registrado o menor número de roubo de carros.

In [ ]:
# Seu código

**Parabéns! Você chegou ao fim**