<a href="https://colab.research.google.com/github/robsonbfreitas/DataManipulationExercises/blob/main/Manipulacao_de_Dados_Ex_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://i.imgur.com/JsMvGnP.png)


## Exercícios de manipulação de dados - Parte 2

Neste Jupyter notebook você irá resolver uma exercícios utilizando a biblioteca Pandas.\
Todos os datasets utilizados nos exercícios estão salvos na pasta *datasets*.\
Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

#### Tarefa 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/US_Crime_Rates_1960_2014.csv***.\
Este dataset contém dados de crimes ocorridos nos Estados Unidos no período de 1960 até 2014.\
Salve os dados em uma variável de nome *crime*.

In [6]:
import pandas as pd
crime = pd.read_csv('datasets/US_Crime_Rates_1960_2014.csv')

#### Tarefa 2. Qual o tipo de dados em cada coluna?

In [2]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

In [8]:
crime.head()

   Year  Population    Total  ...  Burglary  Larceny_Theft  Vehicle_Theft
0  1960   179323175  3384200  ...    912100        1855400         328200
1  1961   182992000  3488000  ...    949600        1913000         336000
2  1962   185771000  3752200  ...    994300        2089600         366800
3  1963   188483000  4109500  ...   1086400        2297800         408300
4  1964   191141000  4564600  ...   1213200        2514400         472800

[5 rows x 12 columns]

#### Tarefa 3. Converta o tipo de dado da coluna Year para o tipo datetime

*Dica: procure na documentação da biblioteca como fazer tal conversão*

In [9]:
#crime['Year'] = pd.to_datetime(crime['Year'])
pd.to_datetime(crime['Year'])

0    1970-01-01 00:00:00.000001960
1    1970-01-01 00:00:00.000001961
2    1970-01-01 00:00:00.000001962
3    1970-01-01 00:00:00.000001963
4    1970-01-01 00:00:00.000001964
5    1970-01-01 00:00:00.000001965
6    1970-01-01 00:00:00.000001966
7    1970-01-01 00:00:00.000001967
8    1970-01-01 00:00:00.000001968
9    1970-01-01 00:00:00.000001969
10   1970-01-01 00:00:00.000001970
11   1970-01-01 00:00:00.000001971
12   1970-01-01 00:00:00.000001972
13   1970-01-01 00:00:00.000001973
14   1970-01-01 00:00:00.000001974
15   1970-01-01 00:00:00.000001975
16   1970-01-01 00:00:00.000001976
17   1970-01-01 00:00:00.000001977
18   1970-01-01 00:00:00.000001978
19   1970-01-01 00:00:00.000001979
20   1970-01-01 00:00:00.000001980
21   1970-01-01 00:00:00.000001981
22   1970-01-01 00:00:00.000001982
23   1970-01-01 00:00:00.000001983
24   1970-01-01 00:00:00.000001984
25   1970-01-01 00:00:00.000001985
26   1970-01-01 00:00:00.000001986
27   1970-01-01 00:00:00.000001987
28   1970-01-01 00:00:00.000001988
29   1970-01-01 00:00:00.000001989
30   1970-01-01 00:00:00.000001990
31   1970-01-01 00:00:00.000001991
32   1970-01-01 00:00:00.000001992
33   1970-01-01 00:00:00.000001993
34   1970-01-01 00:00:00.000001994
35   1970-01-01 00:00:00.000001995
36   1970-01-01 00:00:00.000001996
37   1970-01-01 00:00:00.000001997
38   1970-01-01 00:00:00.000001998
39   1970-01-01 00:00:00.000001999
40   1970-01-01 00:00:00.000002000
41   1970-01-01 00:00:00.000002001
42   1970-01-01 00:00:00.000002002
43   1970-01-01 00:00:00.000002003
44   1970-01-01 00:00:00.000002004
45   1970-01-01 00:00:00.000002005
46   1970-01-01 00:00:00.000002006
47   1970-01-01 00:00:00.000002007
48   1970-01-01 00:00:00.000002008
49   1970-01-01 00:00:00.000002009
50   1970-01-01 00:00:00.000002010
51   1970-01-01 00:00:00.000002011
52   1970-01-01 00:00:00.000002012
53   1970-01-01 00:00:00.000002013
54   1970-01-01 00:00:00.000002014
Name: Year, dtype: datetime64[ns]

#### Tarefa 4. Configure a coluna Year como index do DataFrame.

*Dica: use a função set_index() do Pandas*

In [10]:
crime.set_index('Year', inplace=True)

In [11]:
crime.head()

      Population    Total  Violent  ...  Burglary  Larceny_Theft  Vehicle_Theft
Year                                ...
1960   179323175  3384200   288460  ...    912100        1855400         328200
1961   182992000  3488000   289390  ...    949600        1913000         336000
1962   185771000  3752200   301510  ...    994300        2089600         366800
1963   188483000  4109500   316970  ...   1086400        2297800         408300
1964   191141000  4564600   364220  ...   1213200        2514400         472800

[5 rows x 11 columns]

#### Tarefa 5. Remova a coluna Total do DataFrame.

In [12]:
crime.drop(columns=['Total'])

      Population  Violent  Property  ...  Burglary  Larceny_Theft  Vehicle_Theft
Year                                 ...
1960   179323175   288460   3095700  ...    912100        1855400         328200
1961   182992000   289390   3198600  ...    949600        1913000         336000
1962   185771000   301510   3450700  ...    994300        2089600         366800
1963   188483000   316970   3792500  ...   1086400        2297800         408300
1964   191141000   364220   4200400  ...   1213200        2514400         472800
1965   193526000   387390   4352000  ...   1282500        2572600         496900
1966   195576000   430180   4793300  ...   1410100        2822000         561200
1967   197457000   499930   5403500  ...   1632100        3111600         659800
1968   199399000   595010   6125200  ...   1858900        3482700         783600
1969   201385000   661870   6749000  ...   1981900        3888600         878500
1970   203235298   738820   7359200  ...   2205000        4225800         928400
1971   206212000   816500   7771700  ...   2399300        4424200         948200
1972   208230000   834900   7413900  ...   2375500        4151200         887200
1973   209851000   875910   7842200  ...   2565500        4347900         928800
1974   211392000   974720   9278700  ...   3039200        5262500         977100
1975   213124000  1039710  10252700  ...   3265300        5977700        1009600
1976   214659000  1004210  10345500  ...   3108700        6270800         966000
1977   216332000  1029580   9955000  ...   3071500        5905700         977700
1978   218059000  1085550  10123400  ...   3128300        5991000        1004100
1979   220099000  1208030  11041500  ...   3327700        6601000        1112800
1980   225349264  1344520  12063700  ...   3795200        7136900        1131700
1981   229146000  1361820  12061900  ...   3779700        7194400        1087800
1982   231534000  1322390  11652000  ...   3447100        7142500        1062400
1983   233981000  1258090  10850500  ...   3129900        6712800        1007900
1984   236158000  1273280  10608500  ...   2984400        6591900        1032200
1985   238740000  1328800  11102600  ...   3073300        6926400        1102900
1986   240132887  1489169  11722700  ...   3241410        7257153        1224137
1987   242282918  1483999  12024700  ...   3236184        7499900        1288674
1988   245807000  1566220  12356900  ...   3218100        7705900        1432900
1989   248239000  1646040  12605400  ...   3168200        7872400        1564800
1990   248709873  1820130  12655500  ...   3073900        7945700        1635900
1991   252177000  1911770  12961100  ...   3157200        8142200        1661700
1992   255082000  1932270  12505900  ...   2979900        7915200        1610800
1993   257908000  1926020  12218800  ...   2834800        7820900        1563100
1994   260341000  1857670  12131900  ...   2712800        7879800        1539300
1995   262755000  1798790  12063900  ...   2593800        7997700        1472400
1996   265228572  1688540  11805300  ...   2506400        7904700        1394200
1997   267637000  1634770  11558175  ...   2460526        7743760        1354189
1998   270296000  1531044  10944590  ...   2329950        7373886        1240754
1999   272690813  1426044  10208334  ...   2100739        6955520        1152075
2000   281421906  1425486  10182586  ...   2050992        6971590        1160002
2001   285317559  1439480  10437480  ...   2116531        7092267        1228391
2002   287973924  1423677  10455277  ...   2151252        7057370        1246646
2003   290690788  1383676  10442862  ...   2154834        7026802        1261226
2004   293656842  1360088  10319386  ...   2144446        6937089        1237851
2005   296507061  1390745  10174754  ...   2155448        6783447        1235859
2006   299398484  1418043   9983568  ...   2183746        6607013        1192809
2007   301621157  1408337   9843481  ...   2176140        6568572        1095769
2008   304374846  1392628   9767915  ...   2228474        6588046         958629
2009   307006550  1325896   9337060  ...   2203313        6338095         795652
2010   309330219  1251248   9112625  ...   2168457        6204601         739565
2011   311587816  1206031   9052743  ...   2185140        6151095         716508
2012   313873685  1217067   9001992  ...   2109932        6168874         723186
2013   316497531  1199684   8650761  ...   1931835        6018632         700294
2014   318857056  1197987   8277829  ...   1729806        5858496         689527

[55 rows x 10 columns]

#### Tarefa 6. Encontre o número de roubos de carro do ano de 1978.

In [18]:
#import datetime
#a = (crime.index >= 1978) & (crime.index < 1979)  
crime.query('Year== 1978').Vehicle_Theft.sum()

1004100

#### Tarefa 7. Retorne a linha do ano em que houve o maior número de assasinatos. 

*Dica: use a coluna Murder como referência.*

In [23]:
filtro = crime['Murder'].max()
#crime['Murder'].max()
crime.query('Murder == 24700')
#linha.head()

      Population     Total  Violent  ...  Burglary  Larceny_Theft  Vehicle_Theft
Year                                 ...
1991   252177000  14872900  1911770  ...   3157200        8142200        1661700

[1 rows x 11 columns]

In [22]:
filtro

24700

#### Tarefa 8. Retorne o número de assassinatos do ano em que foi registrado o menor número de roubo de carros.

In [ ]:
#crime.columns
crime['Murder'].sum()

952448

**Parabéns! Você chegou ao fim**