<a href="https://colab.research.google.com/github/robsonbfreitas/DataManipulationExercises/blob/main/Manipulacao_de_Dados_Ex_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://i.imgur.com/JsMvGnP.png)


## Exercícios de manipulação de dados - Parte 3

Neste Jupyter notebook você irá resolver uma exercícios utilizando a biblioteca Pandas.\
Todos os datasets utilizados nos exercícios estão salvos na pasta *datasets*.\
Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

#### Tarefa 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/users_dataset.txt***.\
Salve os dados em uma variável de nome *users*.

In [1]:
import pandas as pd
users = pd.read_csv('datasets/users_dataset.csv', sep='|')

#### Tarefa 2. Descubra qual a idade média por ocupação.

*Dica: use a função groupby do Pandas na coluna occupation*

In [2]:
users.groupby('occupation').mean()

                  user_id        age
occupation
administrator  430.949367  38.746835
artist         451.892857  31.392857
doctor         533.714286  43.571429
educator       466.905263  42.010526
engineer       456.328358  36.388060
entertainment  398.000000  29.222222
executive      422.312500  38.718750
healthcare     501.437500  41.562500
homemaker      443.000000  32.571429
lawyer         359.083333  36.750000
librarian      486.588235  40.000000
marketing      437.807692  37.615385
none           368.666667  26.555556
other          542.733333  34.523810
programmer     435.530303  33.121212
retired        515.714286  63.071429
salesman       494.916667  35.666667
scientist      465.129032  35.548387
student        484.954082  22.081633
technician     497.629630  33.148148
writer         495.711111  36.311111

#### Tarefa 3. Para cada ocupação descubra a idade mínima e máxima.

In [ ]:
users.groupby('occupation').age.min()

occupation
administrator    21
artist           19
doctor           28
educator         23
engineer         22
entertainment    15
executive        22
healthcare       22
homemaker        20
lawyer           21
librarian        23
marketing        24
none             11
other            13
programmer       20
retired          51
salesman         18
scientist        23
student           7
technician       21
writer           18
Name: age, dtype: int64

In [ ]:
users.groupby('occupation').age.max()

occupation
administrator    70
artist           48
doctor           64
educator         63
engineer         70
entertainment    50
executive        69
healthcare       62
homemaker        50
lawyer           53
librarian        69
marketing        55
none             55
other            64
programmer       63
retired          73
salesman         66
scientist        55
student          42
technician       55
writer           60
Name: age, dtype: int64

#### Tarefa 4. Para cada combinação de ocupação e sexo, calcule a idade média.

Exemplo:

```
occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
```

In [11]:
users.groupby(['occupation','gender']).age.mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

#### Tarefa 5. Para cada ocupação calcule a porcentagem de homens e mulheres.

Exemplo:

```
occupation     gender
administrator  F          45.569620
               M          54.430380
artist         F          46.428571
               M          53.571429
doctor         M         100.000000
educator       F          27.368421
               M          72.631579
```

In [ ]:
# Seu código

**Parabéns! Você chegou ao fim!**